div.LogoAndText {
     position: relative;
     height: 250px;
     width: 200px;
     left: 50%;
     margin-left: -100px;
     padding-top: 15%;
     z-index: 6;
}

div.HomeLogo img {
     height: 200px;
     width: 200px;
}

div.logonTitle {
     height: 15px;
     width: 200px;
     margin-top: 15px;
}

div.logonTitle p {
     color: #fff;
     font-size: 20pt;
     text-align: center;
}

div.imgStrip {
     position: absolute;
     height: 10px;
     width: 390px;
     left: 50%;
     margin-left: -195px;
     bottom: 75px;
     z-index: 6;
}

div.imgStrip img {
     height: 1px;
     width: 390px;

}

div.btnLogin {
     position: absolute;
     bottom: 20px;
     left: 50%;
     margin-left: -172px;
     width: 344px;
     height: 50px;
     line-height: 3.0em;
     border-radius: 5px;
     border: solid;
     border-width: 1px;
     border-color: #fff;
     font-size: 13pt;
     z-index: 6;
 }

div.btnLogin p {
     position: relative;
     text-align: center;

}